*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html {
    color:#383838;
    font-family: 'Lato', sans-serif;
    font-size:20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x:hidden;
}
.row{
    width:1200px;
    margin: 0 auto;
}
.clearFix {zoom: 1}
.clearFix:after {
    content: '.';
    clear:both;
    display: block;
    height: 0;
    visibility: hidden;
}
body{
    background: linear-gradient(rgba(70, 70, 70, 0.651),rgba(238, 87, 87, 0.418)),url("images/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
header{
    margin: 20px 0;
    background-color: #8d8c8c;
    box-shadow: 4px 4px 10px black;
}
.mainText{
    text-align: center;
    text-transform: uppercase;
}
.mainText h1{
    padding:10px;
    font-size: 320%;
    font-weight: 200;
    color: rgb(255, 255, 255);
}
.sectionController{
    margin-top:100px;
}
.button1v1{
    float: left;
}
.button1vc{
    float: right;
}
.button:link,
.button:visited{
    display: inline-block;
    width:250px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 14px;
    background-color: rgb(114, 66, 66);
    border: 1px solid  rgb(66, 25, 25);;
    box-shadow: 4px 4px 10px rgb(44, 18, 18);
    transition: box-shadow 0.3s, background-color 0.3s , transform 0.2s;
}
.button:hover{
    background-color: rgb(138, 79, 79);
    transform: translateY(1px);
    box-shadow: 4px 4px 10px rgb(44, 18, 18);
}
.button:active{
    background-color: rgb(167, 85, 85);
    transform: translateY(2px);
    box-shadow: 4px 0 10px rgb(44, 18, 18);
}
.statistics{
    margin-top: 80px;
    color: #fff;
}
.results{
    margin-top: 20px;
    color: #fff;
}
.timerPlayer1 #timerP1{
    margin: 0 auto;
    width:105px;
    padding: 12px 14px;
    background-color: rgb(114, 66, 66);
    border: 1px solid rgb(66, 25, 25);
    box-shadow: 4px 4px 10px rgb(44, 18, 18);
    font-size: 150%;
    font-weight: 100;
}
.timerPlayer1 #p1Choice{
    margin: 20px auto;
    width:220px;
    padding: 12px 14px;
    font-size: 100%;
    font-weight: 100;
    background-color: rgb(114, 66, 66);
    border: 1px solid rgb(66, 25, 25);
        
}
.timerPlayer2 #timerP2{
    margin: 0 auto;
    width:105px;
    padding: 12px 14px;
    background-color: rgb(114, 66, 66);
    border: 1px solid rgb(66, 25, 25);
    box-shadow: 4px 4px 10px rgb(44, 18, 18);
    font-size: 150%;
    font-weight: 100;
}
.timerPlayer2 #p2Choice {
    margin: 20px auto;
    width: 220px;
    padding: 12px 14px;
    font-size: 100%;
    font-weight: 100;
    background-color: rgb(114, 66, 66);
    border: 1px solid rgb(66, 25, 25);

}
.scoreBoard #score{
    margin: 0 auto;
    width:105px;
    padding: 12px 14px;
    background-color: rgb(114, 66, 66);
    border: 1px solid rgb(66, 25, 25);
    box-shadow: 4px 4px 10px rgb(44, 18, 18);
    font-size: 150%;
    font-weight: 100;
}
.scoreBoard #result {
    margin: 20px auto;
    width:220px;
    padding: 12px 14px;
    font-size: 100%;
    font-weight: 100;
    background-color: rgb(114, 66, 66);
    border: 1px solid rgb(66, 25, 25);
}
#nextr{
    text-align: center;
}
#nextRound:link,
#nextRound:visited{
    display: inline-block;
    width:250px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 14px;
    background-color: rgb(114, 66, 66);
    border: 1px solid rgb(66, 25, 25);
    ;
    box-shadow: 4px 4px 10px rgb(44, 18, 18);
    transition: box-shadow 0.3s,
    background-color 0.3s,
    transform 0.2s;
}
#nextRound:hover {
    background-color: rgb(138, 79, 79);
    transform: translateY(1px);
    box-shadow: 4px 4px 10px rgb(44, 18, 18);
}
#nextRound:active {
    background-color: rgb(167, 85, 85);
    transform: translateY(2px);
    box-shadow: 4px 0 10px rgb(44, 18, 18);
}
.hideStuff{
    visibility: hidden;
}
.playArea{
    margin-top: 50px;
}
.rock ,
.paper,
.scissors{
    text-align: center;
}
.rock img,
.paper img,
.scissors img{
    border: 2px solid rgb(66, 25, 25);
    background-color: rgba(114, 66, 66, 0.308);
    box-shadow: 4px 4px 10px rgb(44, 18, 18);
    padding:10px;
    border-radius: 100%;
    width:60%;
    height: auto;
    transition: box-shadow 0.3s, background-color 0.3s , transform 0.2s;
}
.rock img:hover,
.paper img:hover,
.scissors img:hover {
    background-color: rgb(138, 79, 79);
    transform: translateY(-1px);
    box-shadow: 4px 4px 10px rgb(44, 18, 18);
}
.rock img:active,
.paper img:active,
.scissors img:active {
    background-color: rgb(167, 85, 85);
    transform: translateY(2px);
    box-shadow: 4px 4px 10px rgb(44, 18, 18);
}

